h1 secret

hr
h2 User Information
hr
h3 Id:  #{user.id}
h3 Name:  #{user.name}
h3 Email:  #{user.email}
h3 JWT:  #{user.jwt}
h3
  a(href=homeUrl) 2fa control
hr

h3
  a(href='/') index

h3
  a(href='/logout') logout
